/* Font */
* {
    font-family: -apple-system, "Roboto", sans-serif;
}

/* div */
.page {
    opacity: 0.1;
    transition: opacity 1s;
}

.div-sec {
    min-width: 750px;
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.div-profile-2cols {
    display: grid;
    grid-template-columns: 3fr 7fr;
    column-gap: 50px;
}

.div-portrait {
    width: 100%;
}

.div-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.div-menu>div {
    height: 50px;
    width: 150px;
    text-align: center;
}

.div-text {
    width: 100%;
}

.div-icons {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* img */
.portrait {
    width: 100%;
    border-radius: 30px;
}

/* button */
.button-menu {
    height: 100%;
    width: 100%;
    font-size: 24px;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    transition: opacity 0.2s,
        color 0.2s,
        background-color 0.2s,
        box-shadow 0.2s;
}

.button-menu:hover {
    color: white;
    background: darkgray;
    box-shadow: 10px 10px 50px darkgray;
}

.button-menu:active {
    opacity: 0.5;
}

/* h1 */
h1 {
    width: 100%;
    text-align: justify;
}

.name {
    font-size: 36px;
    color: black;
}

/* h2 */
h2 {
    width: 100%;
    font-size: 24px;
    color: black;
}

/* p */
p {
    font-size: 18px;
    color: black;
    width: 100%;
    text-align: justify;
    line-height: 30px;
}

.school {
    font-size: 18px;
    color: dimgray;
}

.text {
    font-size: 18px;
    color: black;
}

/* a */
.icon {
    margin-right: 10px;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.link {
    color: dimgray;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link:active {
    opacity: 0.5;
}

/* footer */
footer {
    min-width: 750px;
    max-width: 1000px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: darkgray;
    text-align: center;
}